body{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: "STXihei";
    background: #e2e2e2;
}
ul,li,p,h1,h2,h3,h4,h5,h6{
    margin: 0;padding: 0;
    list-style: none;
    font-weight:normal;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
*{
    box-sizing:border-box;
}
/*搜索*/
.clear{
    clear: both;
}
.search{
    width: 100%;height: auto;
    background: #e2e2e2;
}
.his{
    margin: 0 50px;
}
.search-k{
    width: 85%;
    height: 92px;
    margin: 20px 0;
    background: #fff;
    border-radius: 50px;
    float: left;
    position: relative;
}
.search-k-s{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 38px;
    top: 20px;
    background: url("../images/sousuo.png") no-repeat center center;
    background-size: cover;
    margin-bottom: -4px;
}
.search-k-x{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 38px;
    top: 20px;
    background: url("../images/shanchu.png") no-repeat center center;
    background-size: cover;
    margin-bottom: -4px;
    /*display: none;*/
}
.search-k input{
    display: block;
    width: 80%;
    height: 92px;
    background: #fff;
    border-radius: 50px;
    border: none;
    font-size: 38px;
    color: #4e4e4e;
    margin-left: 100px;
    outline: none;
    overflow: hidden;
}
.search-q{
    width: 15%;
    height: 132px;
    line-height: 132px;
    text-align: right;
    font-size: 44px;
    float: left;
    color: #4e4e4e;
    cursor: pointer;
}
.search-q a{
    display: block;
    width: 90px;
    height: 132px;
    line-height: 132px;
    float: right;
}


/**/

.history{
    width: 100%;height: auto;
    background: #fff;
}

.his{
    margin: 0 30px;
}
.his-h{
    height: 126px;
}
.history-search,.history-cancel{
    font-family: STXihei;
    font-size: 44px;
    float: left;

}
.history-search{
    width: 50%;
    text-align: left;
    /*float: left;*/
    color: #4e4e4e;
    line-height: 126px;
}
.history-cancel{
    width: 50%;
    line-height: 126px;
    text-align: right;
    color: #fed141;
    cursor: pointer;
}

.xian{
    width: 100%;height: 3px;
    background: #e2e2e2;
}

.Search-record{
    width: 100%;
    height: auto;
    background: #fff;
    max-height: 348px;
    overflow: hidden;
}

.record{
    width: 50%;height: 126px;
    overflow: hidden;
    float: left;
    color: #A0A09C;
    font-size: 39px;
    line-height: 126px;
}

.tiao{
    width: 100%;
    height: 44px;
    background: #e2e2e2;
}

.hot-search{
    width: 100%;
    background: #fff;
}

.hot{
    font-size: 44px;
    color: #4e4e4e;
    line-height: 126px;
}

.record-r{
    background: #fff;
}


/*弹出*/
.confirm{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.44);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.confirm-clear{
    width: 70%;
    height:360px;
    background: #fff;
    border-radius: 30px;
    margin: 500px auto;
}
.confirm-clear h3{
    display: block;
    width: 100%;
    line-height: 80px;
    font-size: 52px;
    font-family: STXihei;
    text-align: center;
    color: #4e4e4e;
    padding-top: 50px;


}
.confirm-clear h5{
    display: block;
    width: 100%;
    line-height: 80px;
    font-size: 38px;
    font-family: STXihei;
    text-align: center;
    color: #4e4e4e;
    padding-bottom: 34px;
}
.btn-a{
    width: 50%;
    font-size: 52px;
    float: left;
    text-align: center;
    line-height: 116px;
    color: #fed141;
}
.btn-l{
    border-right: 3px solid #e2e2e2;
}